@page
@model MyApp.Namespace.MediaIndexSettingsModel
@using ReelGrab.Core
@{
}

<div class="row">
    @if(Model.mediaIndex.MediaDatabases.Count == 0){
        <p>No Media Databases could be created</p>
    } else {
        <p>following Media Databases are created:</p>
        <ul>
            @foreach(var mediaDatabase in Model.mediaIndex.MediaDatabases){
                <li>@mediaDatabase.DisplayName</li>
            }
        </ul>
    }
</div>
<div class="row">
    <form method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="1">Key</td>
                    <td colspan="1">Value</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Configs)
                {
                    <tr>
                        <td><label for="@result.Key">@result.Key</label></td>
                        <td><input type="text" name="@result.Key" id="@result.Key" value="@result.Value"></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-2">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>